################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/MyTraining/v15
/.vs
/Training.Api/obj
/Training.NetCore.WebApi/bin/Debug/netcoreapp2.0
/Training.NetCore.WebApi/obj
/packages
/Training.Windows.WebApi/bin
/Training.Windows.WebApi/obj/Debug
/MyTranining.Web/obj
